/* !Globals */

body {
	background-color: #fff; 
  font-family: Helvetica, Arial, sans-serif;
  font-size:   14px;
	}

a { 
	color: #000;
	text-decoration: none;
	}
	
a img {
	border: none;
	}

h1, ul, li {
	margin: 0;
	padding: 0;
	}

li {
	list-style-type: none;
	}
	
h1 { 
	font-size: 20px;
	}
	
h1 a:visited {
	color: black;
	}
	
.last {
	margin-right: 0 !important;
	}
	
/* !Layout */

header h1 {
	float: left; 
	margin-right: 15px;
	}
	
content {
	display: block;
	margin: 30px auto;
	width: 720px;
	}
	
header {
	display: block;
	margin-bottom: 20px;
	line-height: 14px;
	position: relative;
	}
	
main {
	display: block;
	position: relative;
	}
	
/* !Nav */
	
#nav {
	bottom: 0;
	left: 160px;
	margin-bottom: -2px;
	position: absolute;
	}
	
#nav li {
	margin-right: 8px;
	float: left;
	}
	
/* !Portfolio Sidebar */

#portfolios {
	left: 0;
	margin-left: -170px;
	position: absolute;
	top: 0;
	width: 150px;
	}
	
#portfolios li {
	display: block;
	text-align: right;
	margin-bottom: 8px;
	width: 150px;
	font-weight: bold;
	}
	
#portfolios li a {
	font-weight: normal;
	}
	
/* !View Portfolio */

#portfolio-nav {
	bottom: 0;
	margin-bottom: -7px;
	position: absolute;
	right: 0;
	}
	
#portfolio-nav li {
	background-color: black;
	border: solid 1px black;
	color: white;
	float: left;
	margin-left: 8px;
	padding: 5px;
	}
	
#portfolio-nav li a {
	color: white;
	}
	
#portfolio-nav li:hover {
	background-color: white;
	color: black;
	}

#portfolio-nav li:hover a {
	color: black;
	}
	
#portfolio-nav li.inactive {
	color: silver;
	background-color: white;
	border: solid 1px silver;
	cursor: default;
	}
		
.portfolio-photo,
.portfolio-photo-last {
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	}
	
content.portfolios-show img {
	cursor: pointer;
	}
	
#photo_0 {
	display: inline;
	}

/* !Edit */

content.portfolios-new,
content.portfolios-edit,
content.portfolios-index,
content.portfolios-create {
	width: 730px;
	-moz-user-select: none;
  -webkit-user-select: none;
	}

#portfolio_title,
#post_title { 
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	border: solid 1px black;
	padding: 5px;
	margin: 0;
	width: 221px;
	}

.block {
	float: left;
	background: black;
	color: white;
	margin-right: 10px;
	padding: 5px;
	width: 223px;
	position: relative;
	}
	
.block .actions {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
	height: 20px;
	overflow: hidden;	
	}

content.portfolios-new .portfolio-new-photo,
content.portfolios-edit .portfolio-new-photo {
	cursor: default;
	}
		
.image-wrapper {
	height: 180px;
	overflow: hidden;
	}

.block a {
	color: white;
	}
	
.block .title {
	position: absolute;
	left: 5px;
	top: 5px;
	background: black;
	font-size: 150%;
	font-weight: bold;
	padding: 5px 10px 10px 5px;
	}
	
.block input[type="file"]{
	width: 223px;
	color: white;
	background-color: black;
	}
	
.options {
	font-weight: bold;
	margin-bottom: 10px;
	clear: left;
	float: left;
	width: 720px;
	}
	
.options a {
	text-decoration: underline;
	}

.image-placeholder {
	border: dashed 1px white;
	height: 178px;
	width: 223px;
	position: relative;
	}

.image-placeholder a,
.image-placeholder span {
	padding-top: 78px;
	display: block;
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	text-decoration: underline;
	}
	
/* !News Posts */

.news-post {
	margin-bottom: 20px;
	line-height: 22px;
	}
	
.news-post img {
	float: left;
	margin-right: 20px;
	}
	
.news-post h3 {
	float: left;
	width: 260px;
	margin-top: 0;
	margin-bottom: 14px;
	}
	
.news-post .post-date {
	float: right;
	width: 90px;
	}
	
.news-post .post-body {
	float: left;
	width: 350px;
	}
	
.news-post .post-body p {
	margin-top: 0;
	}
	
.news-post .post-body a,
#tinymce a {
	text-decoration: underline;
	}
	
/* !Bio */

content.portolios-bio p {
	line-height: 22px;
	}
	
/* !Settings */

.first {
	clear: left;
	}

.settings .field {
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;	
	}
	
#bio-field {
	margin-bottom: 10px;
	}
	
label {
	font-weight: bold;
	}
	
.settings label {
	display: block;
	margin-bottom: 5px;
	}
	
iframe { border-bottom: none; }
	
.settings .select-field label {
	display: inline;
	}
	
.settings input[type="text"],
.settings select {
  font-family: Helvetica, Arial, sans-serif;
  font-size:   14px;
  border: solid 1px black;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
	}

.settings input[type="text"],
.settings select {
	height: 40px;
	width: 233px;
	}
	
#bio_parent .mceLayout,
#post_body_parent .mceLayout {
	border: solid 1px black;
	}
	
#bio_parent .mceLayout tr.mceFirst td,
#post_body_parent .mceLayout tr.mceFirst td {
	border: none;
	}
	
#bio_parent .mceIframeContainer,
#post_body_parent .mceIframeContainer {
	border-bottom: none;
	}
	
#tinymce {
	padding: 10px !important;
	margin: 0 !important;
	}

textarea {
	width: 697px;
	height: 300px;
	}
	
.settings input[type="submit"] {
	clear: left;
	}
	
/* !Default Rails Styles */

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
	}

div.field, div.actions {
  margin-bottom: 10px;
	}

#notice,
#error-explanation {
  margin: 20px 10px 20px 0;
	}
	
#notice,
.error-title {
	color: white;
	font-weight: bold;
	padding: 5px;
	}
	
#notice {
  background-color: green;
	}

#error-explanation {
  border: 2px solid #c00;
	}

.error-title {
  background-color: #c00;
	}

#error-explanation ul {
	margin: 10px 10px 10px 40px;
	}

#error-explanation li {
	list-style-type: disc;
	padding: 5px;
	}
	
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
	}
	
/* Utility Classes */
.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}

:first-child+html .group {
	min-height: 1px;
	}
	
.first {
	clear: left;
	}
	
.left {
	float: left;
	}
	
.right {
	float: right;
	}
	
.draggable {
	cursor: move;
	}