/* !Globals */

body {
	background-color: #fff; 
  font-family: Helvetica, Arial, sans-serif;
  font-size:   14px;
	}

a { 
	color: #000;
	text-decoration: none;
	}
	
a:visited { 
	color: #666;
	}
	
a img {
	border: none;
	}

h1, ul, li {
	margin: 0;
	padding: 0;
	}

li {
	list-style-type: none;
	}
	
h1 { 
	font-size: 20px;
	}
	
h1 a:visited {
	color: black;
	}
	
.last {
	margin-right: 0 !important;
	}
	
/* !Layout */

header h1 {
	float: left; 
	margin-right: 15px;
	}
	
content {
	display: block;
	margin: 30px auto;
	width: 720px;
	}
	
header {
	display: block;
	margin-bottom: 20px;
	line-height: 14px;
	position: relative;
	}
	
main {
	display: block;
	position: relative;
	}
	
/* !Nav */
	
#nav {
	bottom: 0;
	left: 160px;
	margin-bottom: -2px;
	position: absolute;
	}
	
#nav li {
	margin-right: 8px;
	float: left;
	}
	
/* !Portfolio Sidebar */

#portfolios {
	left: 0;
	margin-left: -170px;
	position: absolute;
	top: 0;
	width: 150px;
	}
	
#portfolios li {
	display: block;
	text-align: right;
	margin-bottom: 8px;
	width: 150px;
	font-weight: bold;
	}
	
#portfolios li a {
	font-weight: normal;
	}
	
/* !View Portfolio */

#portfolio-nav {
	bottom: 0;
	margin-bottom: -7px;
	position: absolute;
	right: 0;
	}
	
#portfolio-nav li {
	background-color: black;
	border: solid 1px black;
	color: white;
	float: left;
	margin-left: 8px;
	padding: 5px;
	}
	
#portfolio-nav li a {
	color: white;
	}
	
#portfolio-nav li:hover {
	background-color: white;
	color: black;
	}

#portfolio-nav li:hover a {
	color: black;
	}
	
#portfolio-nav li.inactive {
	color: silver;
	background-color: white;
	border: solid 1px silver;
	cursor: default;
	}
		
.portfolio-photo {
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	}
	
content.portfolios-show img {
	cursor: pointer;
	}
	
#photo_0 {
	display: inline;
	}
	
/* !Portfolio Index */

.portfolio-edit-link {
	float: left;
}

.portfolio-delete-link {
	float: right;
}

.new-portfolio-link {
	text-decoration: underline;
	}

/* !Edit Portfolio */

content.portfolios-new,
content.portfolios-edit,
content.portfolios-index {
	width: 730px;
	-moz-user-select: none;
  -webkit-user-select: none;
	}

#portfolio_title { 
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	border: solid 1px black;
	padding: 5px;
	margin: 0;
	width: 221px;
	}

.portfolio-edit-photo {
	float: left;
	background: black;
	color: white;
	margin-right: 10px;
	padding: 5px;
	width: 223px;
	position: relative;
	}

.draggable {
	cursor: move;
	}

content.portfolios-edit .portfolio-new-photo {
	cursor: default;
	}
		
.photo-wrapper {
	height: 180px;
	overflow: hidden;
	}

.portfolio-edit-photo a {
	color: white;
	}
	
.title, .position {
	position: absolute;
	left: 5px;
	top: 5px;
	background: black;
	font-size: 150%;
	font-weight: bold;
	padding: 5px 10px 10px 5px;
	}
	
.first {
	clear: left;
	}
	
.edit-actions {
	margin-top: 10px;
	margin-bottom: 5px;
	height: 20px;
	overflow: hidden;
	}
	
input[type="file"]{
	width: 223px;
	color: white;
	background-color: black;
	}
	
.portfolio-options {
	font-weight: bold;
	margin-bottom: 10px;
	clear: left;
	float: left;
	width: 720px;
	}
	
.add-photos-link {
	float: left;
	text-decoration: underline;
	}
	
.portfolio-visible-check {
	float: right;
	}

.remove-check {
	float: right;
	}

.image-placeholder {
	border: dashed 1px white;
	height: 178px;
	width: 223px;
	position: relative;
	}

.image-placeholder span {
	padding-top: 78px;
	display: block;
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	}
	
/* !News Posts */

.news-post {
	margin-bottom: 20px;
	}
	
.news-post img {
	float: left;
	margin-right: 20px;
	}
	
.news-post h3,
.news-post .post-body {
	float: left;
	width: 278px;
	}
	
.news-post h3 {
	margin-top: 0;
	}
	
.news-post h3 a {
	font-weight: normal;
	font-size: 14px;
	}
	
/* !Settings */

.first {
	clear: left;
	}

.settings .field {
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;	
	}
	
#bio-field {
	margin-bottom: 10px;
	}
	
.settings label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	}
	
.settings .select-field label {
	display: inline;
	}
	
.settings input[type="text"],
.settings select {
  font-family: Helvetica, Arial, sans-serif;
  font-size:   14px;
  border: solid 1px black;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
	}

.settings input[type="text"],
.settings select {
	height: 40px;
	width: 233px;
	}
	
#bio_container .mceLayout {
	border: solid 1px black;
	}
	
.settings textarea {
	width: 697px;
	height: 300px;
	padding: 10px;
	}
	
.settings input[type="submit"] {
	clear: left;
	}
	
/* !Default Rails Styles */

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
	}

div.field, div.actions {
  margin-bottom: 10px;
	}

#notice {
  color: green;
	}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
	}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
	}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
	}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
	}
	
/* Self-Clearing Floats */
.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}

:first-child+html .group {
	min-height: 1px;
	}