body {
	background-color: #fff; 
  font-family: Helvetica, Arial, sans-serif;
  font-size:   14px;
	}

a { 
	color: #000;
	text-decoration: none;
	}
	
a:visited { 
	color: #666;
	}

a:hover { 
	text-decoration: none; 
	}

h1, ul, li {
	margin: 0;
	padding: 0;
	float: left;
	}
	
h1 { 
	font-size: 20px;
	float: left; 
	margin-right: 15px;
	}

li {
	list-style-type: none;
	}

content {
	display: block;
	margin: 20px auto;
	width: 720px;
	}
	
header {
	display: block;
	margin-bottom: 15px;
	line-height: 15px;
	position: relative;
	}
	
#nav {
	width: 480px;
	}
	
#nav li {
	margin-bottom: 5px;
	}
	
#bio-link a, #contact-link a {
	font-weight: bold;
	}

#portfolio-nav {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 5px;
	}
	
#portfolio-nav a {
	font-weight: bold;
	}

.portfolio-edit-photo {
	float: left;
	background: black;
	color: white;
	margin-right: 10px;
	padding: 5px;
	}
	
/* !Default Rails Styles */

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
	}

div.field, div.actions {
  margin-bottom: 10px;
	}
	
.actions {
	clear: left;
	}

#notice {
  color: green;
	}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
	}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
	}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
	}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
	}
	
/* Self-Clearing Floats */
.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}

:first-child+html .group {
	min-height: 1px;
	}