/*
*= require_self
*= require_tree .
*/

/* !Globals */

body {
  background-color: #fff; 
  font-family: Helvetica, Arial, sans-serif;
  font-size:   14px;
  }

a { 
  color: #000;
  text-decoration: none;
  }
  
p a {
  text-decoration: underline;
  }
  
a img {
  border: none;
  }

h1, ul, li {
  margin: 0;
  padding: 0;
  }

li {
  list-style-type: none;
  }
  
h1, h2 { 
  font-size: 20px;
  }
  
h1 a:visited {
  color: black;
  }
  
h2 {
  color: #666;
  }
  
p {
  line-height: 20px;
  }
  
p.first-project-signoff {
  margin: 20px 0;
  }
  
label {
  font-weight: bold;
  }
  
textarea {
  width: 713px;
  height: 300px;
  }
 
  
/* !Layout */
  
content {
  display: block;
  margin: 30px auto;
  width: 720px;
  }
  
header {
  margin-bottom: 20px;
  line-height: 14px;
  position: relative;
  }
  
header h1 {
  float: left; 
  margin-right: 15px;
  }
  
.main {
  display: block;
  position: relative;
  }
  
  
/* !Nav */
  
header #nav {
  float: left;
  position: relative;
  top: 2px;
  }
  
header #nav li {
  margin-right: 8px;
  float: left;
  }
  
a.admin-link {
  color: #666;
  }
  
  
/* !Project Sidebar */

#projects {
  left: 0;
  top: 0;
  width: 200px;
  margin-left: -220px;
  position: absolute;
  }
  
#projects li {
  float: right;
  clear: both;
  margin-bottom: 8px;
  font-weight: bold;
  }
  
#projects li a {
  font-weight: normal;
  }
  
  
/* !Project Navigation */

#project-nav {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: -7px;
  }
  
#project-nav .active,
#project-nav .inactive {
  float: left;
  margin-left: 8px;
  padding: 5px;
  border: solid 1px black;
  -moz-user-select: none;
  -webkit-user-select: none;
  }
  
#project-nav .inactive {
  color: silver;
  border-color: silver;
  cursor: default;
  }
  
#project-nav .active {
  color: white;
  background-color: black;
  cursor: pointer;
  }
  
#project-nav .active:hover {
  background-color: white;
  color: black;
  }
  

/* !View Project */

.project-image {
  cursor: pointer;
  }
  

/* !Edit Project */

.admin-body .main,
.projects-new-body .main,
.projects-create-body .main,
.projects-edit-body .main {
  width: 730px; /* extra room to the right so we don't have to add a .last class to every third image */
  -moz-user-select: none;
  -webkit-user-select: none;
  }

#project_title,
#post_title { 
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  border: solid 1px black;
  padding: 5px;
  margin: 0;
  width: 221px;
  }

.block {
  float: left;
  background: black;
  color: white;
  margin-right: 10px;
  padding: 5px;
  width: 223px;
  position: relative;
  }
  
.block .actions {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 20px;
  overflow: hidden;  
  }
    
.image-wrapper {
  height: 180px;
  overflow: hidden;
  }

.block a {
  color: white;
  }
  
.block .title {
  position: absolute;
  left: 5px;
  top: 5px;
  background: black;
  font-size: 120%;
  font-weight: bold;
  padding: 5px 10px 10px 5px;
  }
  
.block input[type="file"]{
  width: 223px;
  color: white;
  background-color: black;
  }
  
.add-more-link {
  text-decoration: underline;
  }

.image-placeholder {
  border: dashed 1px white;
  height: 178px;
  width: 223px;
  position: relative;
  }

.image-placeholder a,
.image-placeholder span {
  padding-top: 78px;
  display: block;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  }
  
.image-placeholder a {
  text-decoration: underline;
  }
  
/* !News Posts */
  
article.post {
  margin-bottom: 20px;
  line-height: 22px;
  }
  
article.post .post-body {
  margin-left: 370px;
  }
  
article.post header {
  line-height: 22px;
  }
  
article.post h1,
article.post time {
  margin-bottom: 15px;
  }
  
article.post h1 {
  font-size: 16px;
  width: 245px;
  }
  
article.post time {
  float: right;
  text-align: right;
  width: 90px;
  }
  
article.post time a {
  text-decoration: none;
  }
  
article.post img {
  float: left;
  }
  
article.post p {
  margin-top: 0;
  }
  
article.post a,
#tinymce a {
  text-decoration: underline;
  }
  
/* !Settings */

.settings .field {
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;  
  width: 233px;
  }
  
.settings .field.text-field {
  width: 100%;
  }
  
#bio-field {
  margin-bottom: 10px;
  }
  
.settings label {
  display: block;
  margin-bottom: 5px;
  }
  
.settings .field > span {
  color: #666;
  font-size: 12px;
  padding-top: 8px;
  display: block;
  }
  
.settings .check-field {
  width: 233px;
  margin-top: -10px;
  }
  
.settings .check-field label {
  display: inline;
  font-weight: normal;
  }
  
.settings input[type="text"],
.settings input[type="password"],
.settings select {
  font-family: Helvetica, Arial, sans-serif;
  font-size:   14px;
  border: solid 1px black;
  padding: 10px;
   height: 40px;
  width: 233px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }

.settings .actions {
  clear: left;
  }
  
/* TinyMCE Styles */
  
#tinymce {
  padding: 10px !important;
  margin: 0 !important;
  }
  
.mceEditor iframe,
.defaultSkin .mceIframeContainer, /* remove bottom grey border on textarea */
.defaultSkin table.mceLayout tr.mceLast td, /* ditto */
#about_text_parent .mceLayout tr.mceFirst td,
#post_body_parent .mceLayout tr.mceFirst td,
#bio_parent .mceIframeContainer,
#post_body_parent .mceIframeContainer {
  border-bottom: none !important;
  }
  
#about_text_parent .mceLayout,
#post_body_parent .mceLayout {
  border: solid 1px black;
  }
  
.defaultSkin table.mceLayout tr.mceFirst td {
  border-top: none !important; /* remove grey top border on toolbar */
  }
  
/* !Error Messaging */

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
  }

div.field, div.actions {
  margin-bottom: 10px;
  }

#notice,
#alert,
#errors {
  margin: 20px 0;
  }
  
#notice,
#alert,
#errors li {
  color: white;
  font-weight: bold;
  padding: 5px;
  }
  
#notice {
  background-color: green;
  }

#alert,
#errors li {
  background-color: #c00;
  }

#errors li {
  list-style-type: none;
  margin-bottom: 8px;
  }
  
#errors li:last-child {
  margin-bottom: 0;
  }
  
.field_with_errors label {
  color: red;
  }
  
/* Utility Classes */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

:first-child+html .group {
  min-height: 1px;
  }
  
.first {
  clear: left;
  }

.last {
  margin-right: 0 !important;
  }
  
.left {
  float: left;
  }
  
.right {
  float: right;
  }
  
.sortable {
  cursor: move;
  }

/* make browsers that don't recognize html5 elements render tham as blocks */
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {  display:block; }